@charset "utf-8";
/* CSS Document */
body {
	padding: 25px;
	background-color: #0F4C5C !important;
}
h1 {
	color: #FFFFFF;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottem: 2px;
	border-color: #FFFFFF;
	border-style: solid;
}
/* Buttons */
.orangebutton {
	background-color: #FF8811;
	border: none;
	color: white;
	padding: 15px 32px;
	font-size: 20px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 50px;
	width: 250px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}
.greenbutton {
	background-color: #26C97A;
	border: none;
	color: white;
	padding: 15px 32px;
	font-size: 20px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 50px;
	width: 250px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}
/* Logo */
.logo {
	height: 150px;
	width: auto;
	margin: 100px;
}
.smalllogo {
	height: 50px;
	width: auto;
	margin: 100px;
}
/* Menu */
.menu {
	font-size: 40px;
	width: 400px;
}
.menu a {
	display: block;
	padding: 12px;
	text-decoration: none;
	font-family: 'Martel', serif;
	color: white;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottem: 2px;
	border-color: #00C67B;
	border-style: solid;
}
.menu a:hover {
	background-color: #00C67B;
	text-decoration: none;
	color: white;
}
/* Input fields */
.orangebutton:hover, .greenbutton:hover {
	-webkit-box-shadow: 0px 20px 28px -12px rgba(0,0,0,0.38);
	-moz-box-shadow: 0px 20px 28px -12px rgba(0,0,0,0.38);
	box-shadow: 0px 20px 28px -12px rgba(0,0,0,0.38);
}
.form {
	border-width: 0px 0px 3px 0px;
	border-style: solid;
	border-color: #FF8811;
	color: #167666;
	width: 250px;
	background-color: hsla(0,0%,100%,0.00);
	font-family: 'Montserrat', sans-serif;
}
::placeholder {
 color:#167666;
}
.formlabels {
	margin-bottom: 0;
	color: #FFFFFF;
	font-family: 'Montserrat', sans-serif;
}
/* Photo's */
.photo {
	height: 500px;
	width: auto;
	margin: 100px;
}
.whiteicon a {
	color: white;
	font-size: 80px;
}
.whiteicon a:hover {
	color: #00C67B;
}
/* calendar */ 
.calendar {
	color: #FFFFFF;
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
}
.calendarheader a {
	text-decoration: underline;
	text-decoration-color: #FF8811;
	color: #FFFFFF;
}
.calendarday a {
	color: #FFFFFF;
}
.calendaractived {
	background-color: #00C67B;
	margin-right: 50px;
	border-radius: 50px;
}
.calendaractivem {
	background-color: #00C67B;
	margin-right: 50px;
	border-radius: 50px;
	padding-left: 20px;
}
.calendarheader a:hover, .calendarday a:hover {
	background-color: #00C67B;
	text-decoration: none;
	color: white;
}
